<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        
        <mat-toolbar color="primary">
            Menú
            <span class="spacer"></span>
            <button
                class="itemSideMenu" 
                mat-icon-button
                (click)="sidenav.toggle()"
            >
                <mat-icon>keyboard_double_arrow_left</mat-icon>
            </button>
    
        </mat-toolbar>

        <mat-nav-list>
            <a 
                class="itemSideMenu"
                routerLink="./perfil"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>person</mat-icon>
                <span> Perfil </span>
            </a>
            <hr class="purple container-fluid">
            <a 
                class="itemSideMenu"
                routerLink="./listado"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>style</mat-icon>
                <span> Galería de Héroes </span>
            </a>
            <a
                class="itemSideMenu"
                routerLink="./propios"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>label</mat-icon>
                <span> Mis Héroes </span>
            </a>
            <a
                class="itemSideMenu"
                routerLink="./agregar"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>add</mat-icon>
                <span> Agregar Héroe </span>
            </a>
            <a
                class="itemSideMenu"
                routerLink="./buscar"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>search</mat-icon>
                <span> Buscar Héroe </span>
            </a>
            <hr class="purple container-fluid">
            <a 
                class="itemSideMenu"
                *ngIf="usuario.admin"
                routerLink="./admin"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
                <span>Administrador</span>
            </a>
            <hr 
                *ngIf="usuario.admin"
                class="purple container-fluid"
            >
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar class="toolbarShadow">
        <button 
            mat-icon-button
            (click)="sidenav.toggle()"
            onclick="blur()"
            id="hamburguerIcon"
        >
            <mat-icon>menu</mat-icon>
        </button>

        <img src="../../../../assets/images/logoChico.png" class="logoChico" alt="">

        <span class="spacer"></span>

        <h1 class="nombreUsuario hiddenElement"> {{usuario.nombre | titlecase}} </h1>

        <div class="nav-item divIMGLogued">
            <div class="lineaVertical hiddenElement"></div>
            <a  
                routerLink="/heroes/perfil"
                class="nav-link navBarAvatar animate__animated animate__fadeIn animate__slow" 
                style="background-image: url({{usurioImg}});"
            ></a>
        </div>
      
        <button
            mat-stroked-button
            mat-list-icon
            color="warn"
            class="btnLogut"
            (click)="logout()"
        >
            <mat-icon>logout</mat-icon>
            Logout
        </button>

    </mat-toolbar>

    <div class="containers">
        <router-outlet></router-outlet>
    </div>
    
    <footer class="footerBG">
        <div class="divLogo">
          <img src="../../../../assets/images/logo.png" class="footerLogo" >
        </div>
        <div class="container">
          <div class="row divNavPills">
            <div class="col-md-12">
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a 
                        class="nav-link anchorNavPillsFooter" 
                        href="https://www.linkedin.com/in/dominguezprado/" 
                        target="_blank"
                    >
                        <span class="centrarIcon">
                            <mat-icon class="marginIcon">work</mat-icon>
                            LinkedIn
                        </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link anchorNavPillsFooter" href="https://github.com/gabrieldp36" target="_blank">
                        <span class="centrarIcon">
                            <mat-icon class="marginIcon">code</mat-icon>
                            Github
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link anchorNavPillsFooter" 
                        href="mailto:gabrieldominguezprado@gmail.com?subject=Consulta Heroes App"
                    >
                        <span class="centrarIcon">
                            <mat-icon class="marginIcon" herf="">mail</mat-icon>
                            Contacto
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                  <p class="nav-link derechosReservadosFooter">
                   <span class="marginNombre">Gabriel Domínguez Prado</span> 
                   <i>© 2023 Todos los Derechos Reservados.</i>
                  </p>
                </li>
              </ul>
            </div>
          </div> 
        </div>
    </footer>
</mat-sidenav-container>