<div 
    fxLayout="row"
    fxLayoutAlign="center"
    >
    <div    
        *ngIf="error && error.status === 404"
        fxFlex="50">
        <div
            style="border-radius: 20px;"
            class="alert alert-danger mt-4 animate__animated animate__flipInX animate__fast">
            <p>
            <i> No se ha encontrado un héroe con el id ingresado.
                Por favor regrese a la galería de héroes o al buscador y seleccione un nuevo héroe.</i>
            </p>
        </div> 

        <button 
            mat-stroked-button 
            color='accent' 
            style="border-color: #303030; border-radius: 20px;"
            (click)="irListado()">
            <mat-icon>style</mat-icon>
            Regresar a galería
        </button>

        <button 
            mat-stroked-button 
            color='accent' 
            style="border-color: #303030; border-radius: 20px;"
            (click)="irBuscador()">
            <mat-icon>search</mat-icon>
            Regresar al buscador
        </button>

    </div>
</div>

<div 
    fxLayout="row"
    fxLayoutAlign="center"
    >
    <div    
        *ngIf="error && error.status === 0"
        fxFlex="50"
        style="border-radius: 20px;"
        class="alert alert-danger mt-4 animate__animated animate__flipInX animate__fast">
            <p>
            <i> Disculpe las molestias, por el momento no podemos mostrarle el héroe seleccionado. 
                Por favor intente nuevamente más tarde..</i>
            </p>
    </div> 
</div>

<mat-grid-list 
        cols="1"
        rowHeight="550px"
        *ngIf="!heroe && !error; else divHeroe">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divHeroe>
   <div 
        *ngIf="!error"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="50px"
        style="margin-bottom: 74px;"
        class="animate__animated animate__zoomIn mt-2"
    >
        <div 
            fxFlex.lg="35"
            fxFlex.md='45'>
            <mat-card>
                <mat-card-header>
                    <mat-card-title> {{heroe.superhero | titlecase}} </mat-card-title>
                    <mat-card-subtitle> {{heroe.alter_ego | titlecase}} </mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
            </mat-card>

            <div style="text-align: center; margin-bottom: -30px;">
                <div
                    *ngIf="!imgLoad"
                    style="width: 400px; max-width: 100%; height: 500px;"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                >
                    <mat-spinner></mat-spinner>
                </div>
                <img 
                    #imagen
                    [hidden]="!imgLoad"
                    [src]="heroe | imagen"
                    class="animate__animated animate__fadeIn animate__slow"
                    (load)="onLoadImg()"
                    (error)="imagenError()"
                >
            </div>
        </div>

        <div fxFlex="35">
            <mat-card>
                <mat-card-header>
                    <mat-card-title> {{heroe.publisher}} </mat-card-title>
                    <br>
                    <br>
                    <br>
                </mat-card-header>
                <mat-divider></mat-divider>
            </mat-card>

            <div style="margin-top: 10px;">
                <mat-card>
                    <mat-card-header>

                        <mat-divider></mat-divider>
                    </mat-card-header>
                    <mat-card-content>
                        <br>
                        <p 
                            *ngIf="heroe.first_appearance"
                            class="tamaño-fuente" 
                            style="line-height : 25px;"> 
                            <i> Primera aparición: </i> 
                            <span style="margin-left: 2px;"> {{heroe.first_appearance | titlecase}}. </span> 
                        </p> 
                        <p 
                            *ngIf="heroe.characters"
                            class="tamaño-fuente" 
                            style="line-height : 25px;"> 
                            <i> Personajes: </i> 
                            <span style="margin-left: 2px;"> {{heroe.characters | titlecase}}. </span> 
                        </p> 
                        <p  
                            *ngIf="heroe.publisher"
                            class="tamaño-fuente" 
                            style="line-height : 25px;"> 
                            <i> Editorial: </i> 
                            <span style="margin-left: 2px;"> {{heroe.publisher}}. </span> 
                        </p>                    
                        <p 
                            *ngIf="heroe.alter_ego"
                            class="tamaño-fuente" 
                            style="line-height : 25px;"> 
                            <i> Alter Ego: </i> 
                            <span style="margin-left: 2px;"> {{heroe.alter_ego | titlecase}}. </span> 
                        </p>                     
                        <p
                            *ngIf="heroe.habilities"
                            class="tamaño-fuente" 
                            style="line-height : 25px;"> 
                            <i> Habilidades: </i> 
                            <span style="margin-left: 2px;"> {{heroe.habilities}}. </span> 
                        </p>                         
                    </mat-card-content>
                    <mat-divider></mat-divider>                   
                </mat-card>
            </div>

            <div style="margin-top: 10px;">               
                <mat-card 
                    class="mat-background" 
                    [style]="(adminUser || esHeroePropio(heroe.id)) 
                                ? 'display: flex; justify-content: center; flex-wrap: wrap;' 
                                : 'display: flex; justify-content: space-around; flex-wrap: wrap;'"
                >
                    <button 
                        mat-stroked-button 
                        color='accent' 
                        style="border-color: #7b1fa2; border-radius: 20px;"
                        (click)="irListado()">
                        <mat-icon>style</mat-icon>
                        Ir a galería
                    </button>
                    <button 
                        mat-stroked-button 
                        color='accent' 
                        style="border-color: #7b1fa2; border-radius: 20px;"
                        (click)="irBuscador()">
                        <mat-icon>search</mat-icon>
                        Ir al buscador
                    </button>
                    <button
                        *ngIf="adminUser || esHeroePropio(heroe.id)"
                        mat-stroked-button  
                        style="border-color: #7b1fa2; border-radius: 20px; color: #ffd645 !important;"
                        (click)="irEditar()">
                        <mat-icon>edit</mat-icon>
                        Ir a editar
                    </button>                 
                </mat-card>             
            </div>
        </div>     
   </div>

</ng-template>

<div 
    class="container containerPersonalizado tableComentarios animate__animated animate__fadeIn animate__slow"
    [hidden]="error || !mostrarComentarios"
>

    <mat-form-field color="accent">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Nombre" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- Foto Column -->
        <ng-container matColumnDef="url_foto">
            <th mat-header-cell *matHeaderCellDef> Foto </th>
            <td mat-cell *matCellDef="let row"> 
                <a  
                    class="nav-link navBarAvatarTable animate__animated animate__fadeIn animate__slow" 
                    style="background-image: url({{row.url_foto}});"
                ></a> 
            </td>
        </ng-container>
    
        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>
    
        <!-- Comentario Column -->
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentario </th>
            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
        </ng-container>
    
        Eliminar Column
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
            <td mat-cell *matCellDef="let row" class="text-center">
                
                <button
                    *ngIf="adminUser || esComentarioPropio(row.id_usuario)"
                    mat-stroked-button
                    mat-list-icon
                    color="accent"
                    style="border-radius: 20px; border: 0px;"
                    (click)="obtenerComentario(row.id_comentario)"
                >
                    <mat-icon>edit</mat-icon>
                    Editar
                </button>
                    
                <button
                    *ngIf="adminUser || esComentarioPropio(row.id_usuario)"
                    mat-stroked-button
                    mat-list-icon
                    color="warn"
                    style="border-radius: 20px; border: 0px;"
                    (click)="borrarComentario(row.id_comentario)"
                >
                    <mat-icon>delete</mat-icon>
                    Eliminar
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No sean encontrado valores para el término "{{input.value}}"</td>
        </tr>
        </table>

        <mat-paginator 
            [pageSizeOptions]="[5, 10, 25, 100]" 
            aria-label="Select page of users" 
            color="accent"
        ></mat-paginator>
    </div>
    
</div>

<div class="container containerPersonalizado divComentario">
    <div class="row">
        <div class="col-lg-5 col-md-9 col-sm-12">
            <div class="divInputsSeguridad divEliminarCuenta">
                
                <h2 class="h2EliminarCuenta">Agregar comentario</h2> 
                <p class="font15">
                    Agregue un comentario sobre {{heroeNombre| titlecase}}.
                </p>

                <form  
                    autocomplete="off"
                    [formGroup]="miFormulario"
                    (ngSubmit)="agregarActualizarComentario()"
                >
                    <div class="divInputs">                  
                        <label 
                            class="col-form-label labelCaracteres"
                            [class] = "(miFormulario.value.descripcion.length > 130) ? 'spanError' :'colorOk'"
                        > 
                            Caracteres {{miFormulario.value.descripcion.length}} / 130 Max.  
                        </label>       
                        <textarea class="form-control textAreaBio" formControlName="descripcion"></textarea>
                        <span 
                            *ngIf="validatorService.validarCampos( miFormulario, 'descripcion', 'required')"
                            class="spanError"
                        >
                            Debe ingresar un comentario
                        </span>
                        <span 
                            *ngIf="validatorService.validarCampos( miFormulario, 'descripcion', 'maxlength')"
                            class="spanError"
                        >
                            El comentario no puede superar los 130 caracteres
                        </span>
                    </div>

                    <div class="divBTNAgregarComent">
                        <div class="text-end">
                            <button 
                                    class="btn btn-outline-dark btnGuardarCambios" 
                                    type="submit" 
                                    [disabled]="miFormulario.invalid"
                                >
                                <span class="centrarIcon" >
                                    <mat-icon>add</mat-icon>
                                    Guardar
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
